# Intepreter / Types
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
venv/
ENV/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Large files / folders (Optional: Uncomment if you don't want to push these)
# runs/
# dataset/
# models/
